.server-card {
  margin-bottom: 16px;
}

.server-status-title {
  display: flex;
  align-items: center;
}

.tooltip-button {
  margin-left: 8px;
}

.server-search {
  margin-bottom: 16px;
}

.server-row {
  margin-bottom: 16px;
}

.server-row-text {
  font-size: 14px;
}

.view-details-button {
  margin-left: 8px;
}

.no-servers {
  color: #999999;
  font-size: 14px;
  text-align: center;
}

.server-modal .modal-row {
  margin-bottom: 16px;
}

.modal-icon {
  margin-right: 8px;
}

.success-icon {
  color: #52c41a;
}

.warning-icon {
  color: #faad14;
}

.info-icon {
  color: #1890ff;
}

.memory-icon {
  color: #722ed1;
}

.disk-icon {
  color: #ff4d4f;
}
