.notifications-section {
  margin-bottom: 24px;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.tooltip-button {
  margin-left: 8px;
  cursor: pointer;
}

.tooltip-button:hover {
  color: #40a9ff;
}

.notification-box{
  max-height: 16rem;
  overflow-y: auto;
  padding: 10px;
  background-color: #fffde7;
}


.no-notifications {
  display: flex;
  justify-content: center;
}
