.server-status-section {
    margin-bottom: 24px;
  }
  
  .server-status-section .server-status {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 16px;
    background-color: #f9f9f9;
  }
  
  .server-status-section .server-status-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333333;
  }
  