.system-metrics-section {
    margin-bottom: 24px;
  }
  
  .section-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .tooltip-button {
    margin-left: 8px;
    color: #1890ff;
    border: none;
    cursor: pointer;
  }
  
  .tooltip-button:hover {
    color: #40a9ff;
  }
  
  .server-select {
    width: 100%;
    margin-bottom: 16px;
  }
  