.notification-container {
  min-height: 300px;
  max-height: 700px;
  overflow-y: auto;
  padding: 8px;
  background-color: #fffde7;
}

.notification-row {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 50px;
}

.warning-icon {
  color: #faad14;
  margin-right: 8px;
  font-size: 16px;
}

.notification-message {
  flex-grow: 1;
  font-size: 14px;
}

.dismiss-icon {
  color: #ff4d4f;
  font-size: 16px;
  cursor: pointer;
}

.no-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #999;
  height: 100%;
}