.card-container {
  margin: 16px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 16px;
  color: #333333;
}

.tab-container {
  margin-top: 16px;
}

.chart-container {
  margin-top: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .chart-container {
    margin-top: 16px;
  }
}

@media (max-width: 576px) {
  .card-container {
    margin: 8px;
  }
}
